html{
    height: 100%;
    margin: auto;
}

body{
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background-image: linear-gradient(lightblue,lightblue,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.deck {
    aspect-ratio: 1/1.36;
    height: max(50%,30em);
    background: url("../assets/Back.jpg");
    background-size: contain;
    border-radius: 1.5em;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.card {
    aspect-ratio: 1/1.36;
    width: 100%;
    background: url("../assets/Back.jpg");
    background-size: contain;
    border-radius: 1.5em;
    cursor: pointer;
    position: fixed;
}